@import '../../styles/variables';

.auth {
  &__title {
    margin: 0;
    padding: 70px 0 80px;
    grid-area: auth-title;
    text-align: center;
    @include font_text(24px, 29px, black, 500);
  }
}
