@import './variables';

.project {
  display: grid;
  padding: 0 18px 70px;

  &__title {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 28px;
    @include font_text(18px, 22px);
    letter-spacing: -0.04em;
    border-bottom: 1px solid black;
  }

  &__description {
    margin: 0;
    @include font_text(11px, 16px);
  }
}
