@import "../../styles/variables";

.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'search-input search-button'
    'checkbox checkbox'
  ;
  column-gap: 10px;
  margin: 0 14px 10px;
  padding-top: 80px;
  align-items: center;
  border-bottom: 1px solid $GRAY_ELEMENT;

  @media screen and (min-width: $PAD){
    margin: 0 30px 10px;

  }

  &__input {
    padding: 13px;
    box-sizing: border-box;
    grid-area: search-input;
    outline: none;
    border: none;
    background-color: #F9F9F9;
    border-radius: 8px;
    @include font_text(14px, 18px, $GRAY_TEXT);

    @media screen and (min-width: $PAD){
      padding: 16px 20px;
    }

    &::placeholder {
      @include font_text(14px, 18px, $GRAY_TEXT);
    }
  }

  &__button {
    grid-area: search-button;
    width: 44px;
    height: 44px;
    padding: 0;
    justify-self: end;
    border-radius: 8px;
    background-color: $ORANGE;
    background-image: url("../../images/icon-loupe.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
    border: none;
  }
}
