@import '../../styles/variables';

.header {
  position: relative;
  width: 100%;
  min-height: 74px;
  padding: 0 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  @media screen and (min-width: $PAD){
    padding: 0 30px;
  }

  @media screen and (min-width: $DESKTOP){
    width: 1280px;
    padding: 0 70px;
    justify-self: center;
  }

  &_type_auth {
    padding-top: 5px;
    min-height: 144px;
    grid-template-columns: auto;
    justify-content: center;
  }
}
