.header {
  position: relative;
  width: 100%;
  height: min-content;
  padding: 14px 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;

  &__logo {
    width: 38px;
    height: 38px;
    justify-self: start;
  }
}
