@import "./vendor/normalize.css";
@import "./vendor/fonts/font.css";

.page {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.link {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: .2;
    transition: 2s;
  }
}
