@import '../../styles/variables';

.about-me {
  display: grid;
  padding: 0 14px 70px;

  @media screen and (min-width: $PAD){
    padding: 0 50px 90px;
    column-gap: 49px;
    align-items: start;
    grid-template-areas:
    'me-title me-title'
    'me-name me-photo'
    'me-job me-photo'
    'me-description me-photo'
    'me-link-repo me-photo'
    ;
  }

  &__title {
    grid-area: me-title;
  }

  &__photo {
    margin-top: 60px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 292/352;
    border-radius: 10px;
    grid-area: me-photo;

    @media screen and (min-width: $PAD){
      width: 255px;
      margin-top: 66px;
      aspect-ratio: 255/307;
    }
  }

  &__name {
    margin: 40px 0 0;
    @include font_text(30px, 36px);
    letter-spacing: -0.04em;
    grid-area: me-name;

    @media screen and (min-width: $PAD){
      margin: 67px 0 0;
      @include font_text(40px, 40px);
    }
  }

  &__job {
    margin: 20px 0 0;
    @include font_text(11px, 16px, black, 500);
    grid-area: me-job;

    @media screen and (min-width: $PAD){
      margin: 16px 0 0;
      @include font_text(12px, 18px);
    }
  }

  &__description {
    margin: 20px 0 0;
    grid-area: me-description;
  }

  &__link-repo {
    padding-top: 40px;
    @include font_text(14px, 17px, black, 500);
    grid-area: me-link-repo;

    @media screen  and (min-width: $PAD){
      padding-top: 10px;
      align-self: end;
    }
  }
}
