@import '../../styles/variables';

.about-me {
  display: grid;
  padding: 0 14px 70px;

  &__photo {
    margin-top: 60px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 292/352;
    border-radius: 10px;
  }

  &__name {
    margin: 40px 0 0;
    @include font_text(30px, 36px);
    letter-spacing: -0.04em;
  }

  &__job {
    margin: 20px 0 0;
    @include font_text(11px, 16px, black, 500);
  }

  &__description {
    margin: 20px 0 0;
  }

  &__link-repo {
    padding-top: 40px;
    @include font_text(14px, 17px, black, 500);
  }
}
